body{
  background-color: #669900;
}
input{
  padding: 10px 10px 10px 10px;
  margin:10px 10px 10px 10px;
  display:list-item;
  display:block;
  width:25%}
  form h3{
    margin:10%;
  }

button{
  margin-left: 15%;
}
#inputForm{
background-color: white;
border:2px black;
}
