body{
  background-color: #ccffff;
}
input{
  padding: 10px 10px 10px 10px;
  margin:10px 10px 10px 10px;
  display:list-item;
  display:block;
  width:300px}
  form h3{
    margin:10%;
  }

button{
  margin: 0 10px 0 350px;
}
#inputForm{
background-color: white;
border:10px black;
}
